<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <!--<parameter name="Browser" value="Chrome"></parameter>-->
    <!--    <parameter name="Username" value="User010"></parameter>-->
    <!--    <parameter name="Password" value="Password123"></parameter>-->
    <groups>
        <run>
            <!--            <include name="Regression"></include>-->
            <exclude name="Sanity"></exclude>
        </run>
    </groups>
    <test name="Regression1">
        <classes>
            <!--            <class name="com.testcases.Sampletestcase"/>-->
            <class name="Com.nopcommerce.testCases.TC_01"/>
        </classes>
    </test>
</suite>
